[Desktop Entry]
Name=Quick Install File Generator
Version=1.0
Exec=pkexec /usr/bin/quick-install-file-generator
Type=Application
Terminal=true
StartupNotify=true
Encoding=UTF-8
Icon=system-installer
Categories=DesktopSettings;Settings;System;Utility;
Comment=Use your existing system settings, or create unique settings, and dump them to a file to use with Drauger OS's Quick Install feature.
